
/* Overrides */

html {
	overflow-y: scroll;
}

main {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: visible;
}

.discover .title {
	margin: 1em;
	font-size: 1.5rem;
	text-align: center;
}


.discover{
	width: 100%;
	overflow: visible;
}
@media(min-width: 60vh) {
	.discover {
		width: min(60vh, 100%);
	}
}

