
/* Overrides */

html {
	overflow-y: scroll;
}

main {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: visible;
}

.newsfeed {
	width: 100%;
	overflow: visible;
}
@media(min-width: 60vh) {
	.newsfeed {
		width: min(60vh, 100%);
	}
}

.following_box {
	display: none;
	position: fixed;
	top: 5em;
	height: 80vh;
	right: 2vh;
	width: 45vh;
	overflow-Y: scroll;
}
@media(min-width: 160vh) {
	.following_box {
		display: block;
	}
}

.notifications_box {
	display: none;
	position: fixed;
	top: 5em;
	height: 80vh;
	left: 2vh;
	width: 45vh;
	overflow-Y: scroll;
}
@media(min-width: 160vh) {
	.notifications_box {
		display: block;
	}
}
