
/* Overrides */

html {
	overflow-y: scroll;
}

main {
	width: 100%;
	overflow: visible;
}
@media(min-width: 60vh) {
	main {
		width: min(60vh, 100%);
		margin-left: calc( (100% - min(60vh, 100%)) / 2 );
	}
}

/* Classes */

.post {
	/* Invisible until loaded */
	visibility: hidden;
	margin: 20px 0;
	width: 100%;
	border-radius: 7px;
	box-shadow: 0 0 15px lightgrey;
	background-color: white;
}
.post_image {
	display: block;
	width: 100%;
}
.post_header {
	padding: 0.75em;
	width: 100%;
	border-bottom: 1px solid lightgrey;
	line-height: 1em;
}
.timestamp {
	float: left;
	padding-right: 0.75em;
	border-right: 1px solid forestgreen;
}
.username {
	float: left;
	padding-left: 0.75em;
	color: grey;
}
.like_box {
	float: right;
	display: flex;
	justify-content: space-between;
	width: 2em;
	height: 1em;
}
.like_button {
	width: 1em;
	height: 1em;
	cursor: pointer;
}
.post_footer {
	padding: 0.75em;
	width: 100%;
	border-top: 1px solid lightgrey;
	line-height: 1em;
}
