
/* Overrides */

html {
	overflow-y: scroll;
}

main {
	width: 100%;
	overflow: visible;
}
@media(min-width: 60vh) {
	main {
		width: min(60vh, 100%);
		margin-left: calc( (100% - min(60vh, 100%)) / 2 );
	}
}
