
/* Overrides */

html {
	overflow-y: scroll;
}

body {
	background-color: whitesmoke;
}

nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 2em;
	background-color: white;
	font-size: 1.2rem;
	box-shadow: 0 0 10px lightgrey;
}
nav div {
	display: inline-block;
	height: 100%;
}
nav div * {
	display: inline-block;
	margin: 0.4em;
	height: 1.2em;
}

main {
	position: absolute;
	left: 25%;
	top: 3.4rem;
	height: calc(100% - 3.4rem);
	width: 50%;
}

/* Classes */

.searchbar {
	margin: 0.3em;
	padding: 0 6px;
	width: 100%;
	height: 1.4em;
	border-radius: 3px;
	background-color: rgb(240,240,240);
}

.post{
	position: relative;
	width: 25vw;
	height: 25vw;
}
.post img {
	width: 100%;
	height: 100%;
    object-fit: cover;
}
.post .caption {
	position: absolute;
	left: 5px;
	bottom: 5px;
	color: white;
}
