
/* Generic, all-page CSS */

/* Overrides */

* {
	/* Default text style */
	font-family: Quicksand, Roboto, Arial;
	font-weight: 400;
	
	/* Auto-centre and cover images by default */
	background-size: cover;
	background-position: center;
	
	/* Useful alternative defaults */
	box-sizing: border-box;
	overflow: hidden;
}

/* Font height scales with window height */
html {
	font-size: 2vh;
}

/* Remove default margin and use app-sizing */
body {
	margin: 0;
	width: 100%;
	background-color: whitesmoke;
}

/* Colour interactive text accent green */
a, input[type=submit], button {
	color: forestgreen;
	text-decoration: none;
}

/* React to hovering */
input:hover, a:hover, button:hover {
	opacity: 0.6;
}

/* Use nicer default styling for inputs */
input {
	padding: 0;
	font-size: inherit;
	color: inherit;
	text-align: left;
	background: none;
	border: none;
}
input:focus {
	outline: none;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 0 30px 0 0.5em;
	width: 100%;
	height: 2em;
	background-color: white;
	font-size: 1.2rem;
	box-shadow: 0 0 10px lightgrey;
}
nav div {
	display: inline-block;
	height: 100%;
}
nav div * {
	display: inline-block;
	margin: 0.4em;
	height: 1.2em;
}
.searchbar {
	margin: 0.3em;
	padding: 0 6px;
	width: min(90vw, 500px);
	height: 1.4em;
	border-radius: 3px;
	background-color: rgb(240,240,240);
}

/* Make element invisible without removing from document */
.hide {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.hide:hover {
	opacity: 0;
}

.newpost_form {
	visibility: hidden;
	
	z-index: 3;
	position: fixed;
	padding: 1em;
	
	/* Centre */
	right: 50%;
	top: 50%;
	transform: translate(50%, -50%);
	
	/* Use em to preserve number of text lines */
	width: 17em;
	
	font-size: 1.5rem;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

#file_label {
	display: inline-block;
	width: 15em;
	height: 15em;
	padding-top: 7em;
	text-align: center;
	border-radius: 5px;
	color: dimgrey;
	background-color: whitesmoke;
}

#screen {
	visibility: hidden;
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100%;
	opacity: 0.75;
	background-color: black;
}

/* posts */
.post {
	/* Invisible until loaded */
	visibility: hidden;
	margin: 20px 0;
	width: 100%;
	border-radius: 7px;
	box-shadow: 0 0 15px lightgrey;
	background-color: white;
}
.post_image {
	display: block;
	width: 100%;
}
.post_header {
	padding: 0.75em;
	width: 100%;
	border-bottom: 1px solid lightgrey;
	line-height: 1em;
}
.timestamp {
	float: left;
	padding-right: 0.75em;
	border-right: 1px solid forestgreen;
}
.username {
	float: left;
	padding-left: 0.75em;
	color: grey;
}
.like_box {
	float: right;
	display: flex;
	justify-content: space-between;
	width: 2em;
	height: 1em;
}
.like_button {
	width: 1em;
	height: 1em;
	cursor: pointer;
}
.post_footer {
	padding: 0.75em;
	width: 100%;
	border-top: 1px solid lightgrey;
	line-height: 1em;
}

/*users*/

.user_list {
	display: flex;
	flex-wrap: wrap;
}

.user {
	margin: 1%;
	display: flex;
	justify-content: flex-start;
	width: 31.33333333%;
	height: 5em;
	background-color: white;
	border-radius: 1em;
	box-shadow: 0 0 10px lightgrey;
}

.user img, .avatar_placeholder {
	height: 5em;
	width: 5em;
	background-color: lightgrey;
	box-shadow: 0 0 25px lightgrey;
}

.user_name {
	height: 100%;
	width: calc(100% - 10rem);
}

.user_name .inner {
	display: block;
	padding: 2rem;
	width: 1000%;
	height: 100%;
	line-height: 1rem;
	font-size: 1.5rem;
	overflow: show;
}

.user form {
	width: 5em;
	height: 5em;
}

.user form button {
	margin: 1.5rem;
	padding: 0.5rem 0.5rem 0.75rem 0.5rem;
	width: 2rem;
	height: 2rem;
	
	font-size: 1.5rem;
	line-height: 0;
	
	background-color: forestgreen;
	color: white;
	border-radius: 0.5rem;
	box-shadow: 0 0 10px lightgrey;
	border: none;
}
