
/* Generic, all-page CSS */

/* Overrides */

* {
	/* Default text style */
	font-family: Quicksand, Roboto, Arial;
	font-weight: 400;
	
	/* Auto-centre and cover images by default */
	background-size: cover;
	background-position: center;
	
	/* Useful alternative defaults */
	box-sizing: border-box;
	overflow: hidden;
}

/* Font height scales with window height */
html {
	font-size: 2vh;
}

/* Remove default margin and use app-sizing */
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

/* Colour interactive text accent green */
a, input[type=submit] {
	color: forestgreen;
	text-decoration: none;
}

/* React to hovering */
input:hover, a:hover {
	opacity: 0.6;
}

/* Use nicer default styling for inputs */
input {
	padding: 0;
	font-size: inherit;
	color: inherit;
	text-align: left;
	background: none;
	border: none;
}
input:focus {
	outline: none;
}
