
/*users*/

.user_list {
	display: flex;
	flex-wrap: wrap;
}

.user {
	margin: 1%;
	display: flex;
	justify-content: flex-start;
	width: 31.33333333%;
	height: 5em;
	background-color: white;
	border-radius: 1em;
	box-shadow: 0 0 10px lightgrey;
}

.user img, .avatar_placeholder {
	height: 5em;
	width: 5em;
	background-color: lightgrey;
	box-shadow: 0 0 25px lightgrey;
}

.user_name {
	height: 100%;
	width: calc(100% - 10rem);
}

.user_name .inner {
	display: block;
	padding: 2rem;
	width: 1000%;
	height: 100%;
	line-height: 1rem;
	font-size: 1.5rem;
	overflow: show;
}

.user form {
	width: 5em;
	height: 5em;
}

.user form button {
	margin: 1.5rem;
	padding: 0.5rem 0.5rem 0.75rem 0.5rem;
	width: 2rem;
	height: 2rem;
	
	font-size: 1.5rem;
	line-height: 0;
	
	background-color: forestgreen;
	color: white;
	border-radius: 0.5rem;
	box-shadow: 0 0 10px lightgrey;
	border: none;
}
