<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<!-- This file defines the web-server layout such as mapping of filters and servlets to patterns and URLs -->

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <!-- File filter -->
  <filter>
  	<filter-name>FileFilter</filter-name>
  	<display-name>FileFilter</display-name>
  	<description></description>
  	<filter-class>filters.FileFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FileFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>listeners.Startup</listener-class>
  </listener>
  
  <!-- Servlets -->
  <servlet>
  	<servlet-name>Status</servlet-name>
  	<display-name>Status</display-name>
  	<description></description>
  	<servlet-class>servlets.Status</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>servlets.Logout</servlet-class>
  </servlet>
  
  <!-- Mappings -->
  <servlet-mapping>
  	<servlet-name>Status</servlet-name>
  	<url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
</web-app>
